body {
    background: pink url('ecom-fondo.jpg') no-repeat fixed center/cover;
}
h1,h2,h3{
    color: #652D90;
    font-weight: bolder;
}
.logBar{
    text-align: center;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.navbar-custom{
    background: #652D90;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    color: #fff;
    margin-bottom: 0;
}
.navbar-custom ul li a{
    color: #fff;
    font-weight: bolder;
}
.navbar-custom ul li a:hover{
    background: pink;
    color: #652D90;
}
.features{
    background: #fff;
}
.features div{
    padding:1em 0;
    text-align: center;
}
.features  div i{
    color: #FFB9E7;
    font-size: 4em;
    text-align: center;
}
.promo{
    background: #652D90;
}
.promo div{
    text-align: center;
}
.promo h2{
    color: #fff;
}
.promo div ul{
    font-size: 1.2em;
    color: #fff;
    list-style: none;
}
.precio{
    color: #fff;
    text-align: center;
}
.precio h1{
    color: #fff;
    font-size:5em;
    margin:0;
}
.precio p span{
    font-size:5em;
}
.patroncitos{
    background: #fff;
    text-align: center;
}
.patroncitos ul{
    list-style: none;
}
.patroncitos ul li{
    display: inline-block;
    margin: 0 2em;
}
footer .container-fluid{
    background: #444;
}
footer ul {
    list-style: none;
    padding-left: 0;
}
footer h3{
    color: #fff;
}
footer ul li a{
    color: #f5f8fa;
}
footer p{
    color: #fff;
    text-align: center;
}
.logo {
    float: left;
}
.programaTable{
    background: #fff;
    padding-bottom: 1em;
}